// main :"../../main.less"
// out: false

body {
  font-family: "poppins";
  font-weight: 400;
  background-color: @greyExtraLight;
}

#asf-loader {
  margin: @big-margin;
  background-color: #fff;
  padding: @innerPadding;
  width: fit-content;
}

#asf-config {
  button {
    margin-left: auto;
  }
}

div {
  padding: @innerPadding;
}
h2 {
  font-family: "poppins";
  font-size: 1.4rem !important;
  line-height: 1.1;
  font-weight: 500;
  padding: @innerPadding;
}

h3 {
  font-family: "poppins";
  font-size: 1.2rem !important;
  line-height: 1.1;
  font-weight: 500;
  padding: @innerPadding;
}

@btn1Color: #fff;
@btnInactiveColor: grey;
@btn1InnerColor: @asf-color-1;
@btn1BorderColor: @btn1InnerColor;

@btn1ColorHover: @btn1Color;
@btn1InnerColorHover: @btn1InnerColor - 30%;
@btn1BorderColorHover: @btn1InnerColorHover - 30%;

@btn1ColorFocus: @btn1Color;
@btn1InnerColorFocus: @btn1InnerColor - 60%;
@btn1BorderColorFocus: @btn1InnerColorFocus;

form {
  margin: @margin;
  p {
    padding-block: @innerPadding;
    display: flex;
    flex-direction: column;
  }
  select {
  }

  &#config {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 10em;
    max-width: 28em;
  }
  // STRUCTURE

  button {
    height: calc(~"2em + @{innerPadding}");
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 0 1em;
    box-sizing: border-box;
    flex-shrink: 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select: none;

    &.label-and-icon .icon {
      padding-right: 0.5ch;
    }

    &.icon-only {
      width: calc(~"2em + @{innerPadding}");
      padding: 0;

      .icon {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    margin-top: 10px;
    cursor: default;
    letter-spacing: 0.1ch;
    text-transform: uppercase;
    border-radius: @borderRadius;

    background-color: @btn1InnerColor;
    color: @btn1Color;
    border: 1px solid @btn1BorderColor;

    &:hover {
      color: @btn1ColorHover;
      background-color: @btn1InnerColorHover;
      border-color: @btn1BorderColorHover;
    }

    &:focus,
    &:active {
      color: @btn1ColorFocus;
      background-color: @btn1InnerColorFocus;
      border-color: @btn1BorderColorFocus;
    }

    &:disabled {
      color: @btn1Color;
      background-color: @btnInactiveColor;
      border-color: @btnInactiveColor;
    }

    &.icon-only {
      border: 0px;
      border-radius: 100%;
    }
  }

  // STYLE LEVEL 2 - Average buttons
  @btn2Color: @asf-color-1;
  @btn2InnerColor: @bodyBgColor;
  @btn2BorderColor: @asf-color-1;

  @btn2ColorHover: @btn2Color;
  @btn2InnerColorHover: @btn2InnerColor - 15%;
  @btn2BorderColorHover: @btn2BorderColor;

  @btn2ColorFocus: @btn2Color;
  @btn2InnerColorFocus: @btn2InnerColor - 30%;
  @btn2BorderColorFocus: @btn2BorderColor;

  input[type="file"] {
    &::file-selector-button {
      height: calc(~"2em + @{innerPadding}");
      display: inline-flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;
      padding: 0 1em;
      box-sizing: border-box;
      flex-shrink: 0;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      cursor: default;
      letter-spacing: 0.1ch;
      text-transform: uppercase;
      border-radius: @borderRadius;
      user-select: none;
      background-color: @btn2InnerColor;
      border: 1px solid @btn2BorderColor;
      color: @btn2Color;

      &:hover {
        color: @btn2ColorHover;
        background-color: @btn2InnerColorHover;
        border-color: @btn2BorderColorHover;
      }

      &:focus,
      &:active {
        color: @btn2ColorFocus;
        background-color: @btn2InnerColorFocus;
        border-color: @btn2BorderColorFocus;
      }

      &.inactive,
      &.disabled {
        color: @btnInactiveColor;
        background-color: transparent;
        border-color: @btnInactiveColor;
      }

      &.icon-only {
        border: 1px solid @btn2BorderColor;
        border-radius: 100%;
      }
    }
  }
}

label.checkbox {
  padding-right: 1em;
}

// SELECT
select {
  .focusVisible();
  background-color: @bodyBgColor;
  border: none;
  border-bottom: 1px solid @textColor;
  padding: (@margin / 2) @margin;
  margin: 0;
  font-family: @gui-font;
  font-size: 1rem;
  cursor: default;
  line-height: inherit;

  option {
    background-color: @bodyBgColor;
  }
}

.helptext {
  margin: @margin;
}
// tableau

tbody {
  border-top: solid 1px #000;
  th {
    text-align: left;
    border-bottom: solid 1px #000;
    padding-block: @innerPadding;
    padding-right: @innerPadding;
    position: sticky;
    top: 0;
    background-color: @asf-color-6;
  }
  td {
    padding-block: (@margin / 4);
    width: 10em;
    select {
      .focusVisible();
      background-color: @bodyBgColor;
      border: none;
      border-bottom: 1px solid @textColor;
      margin: 0;
      font-family: @gui-font;
      font-size: 1rem;
      cursor: default;
      line-height: inherit;
      padding: 0;
      option {
        background-color: @bodyBgColor;
      }
    }
    &.error {
      color: red;
    }
    &.error-geom {
      // color: orange;
      text-decoration: underline wavy red 1px;
    }
  }
}

table {
  margin: @margin;
}
