@itemWidth: 2.5rem;

.view {
  .sidebar-right .sidebar-header.legend-header-info H1,
  .sidebar-right .sidebar-header H1 {
    line-height: 100% !important;
    padding-top: 3px;
  }
}

.view {
  h2.sub-pitch {
    font-family: "poppins";
    font-size: 1.4rem !important;
    line-height: 1.1;
    font-weight: 500;
  }

  .map-tile p,
  .app-item p {
    line-height: 120%;
  }
}

.view .switcher {
  top: -1px;
  width: @itemWidth;

  .switch-item {
    width: @itemWidth;
    height: @itemWidth;
  }

  .switch-item {
    span.picto {
      display: block;
      width: @itemWidth;
      height: @itemWidth;
      color: @textColor;
    }

    &.active span.picto {
      border-color: @activeColor;
      background-color: @asf-color-5;

      &:before {
        color: @textColor;
      }
    }

    &:hover span.picto {
      background-color: lighten(@asf-color-5, 25%);

      &:before {
        color: @textColor;
      }
    }

    &.active:hover span.picto {
      background-color: @asf-color-5;
    }
  }

  .switch-item .picto:before {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @textColor;
  }
}

.view .map-wrapper .map-scale {
  right: 0px;
  left: initial;
  border-right: 0px;
  padding-left: 0.5rem;
}

.view .control-box {
  bottom: calc(~"16px + (@{margin}/2)");
}

.view .vertical-split .map-wrapper .control-box {
  flex-direction: row;
  width: auto;

  > * {
    margin-left: (@margin / 2);
  }
}

.view .map-navigator .map-list .map-tile .map-tile-img {
  border-radius: 0px;
}

.print-block {
  .a3 {
    display: none;
  }
}

// override feature view for table presentation

.feature-info-wrapper {
  margin: 0;

  .feature-field:has(.feature-field-label) {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.2rem 0.5rem;
    gap: @margin*0.5;
    margin-bottom: 0px;

    &:nth-child(odd) {
      background-color: lighten(@greyLight, 7%);
    }

    .feature-field-label {
      width: 100%;
      font-weight: @fwRegular;
      text-decoration: none;
      margin-bottom: 0px;
    }
    .feature-field-body,
    .feature-field-value {
      min-width: 30%;
      max-width: 50%;
      text-align: right;
    }
  }
}
