{% extends "asf/base.html" %}

{% block title %}Configure{% endblock %}

{% block content %}
<div id="asf-config">
    <h2>Sélection des colonnes et de leurs types</h2>
            <div><h3>Projet: {{project_name}}</h3></div>
            <div><h3>Fichier: {{file_name}}</h3> </div>
            <form id="config" action="{% url 'asf-save-config' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{form.errors}}
                <input id="project" name="project" type="hidden" value="{{form.project.value}}" />
                <input id="survey_file" name="survey_file" type="hidden" value="{{form.survey_file.value}}" />

                {% for c in columns %}
                <input id="columns" name="columns" type="hidden" value="{{c}}" />
                {% endfor %}

                <table>
                    <tbody>
                        <tr>
                            <th>Champ</th>
                            <th>Type</th>
                        </tr>

                        {% for field in fields %}
                        <tr>
                            <td>{{ field.0 }}</td>
                            <td><select id="types" name="types">
                                    {% for t in types %}
                                    {% if t == field.1 %}
                                    <option selected value={{t}}>{{ t }}</option>
                                    {% else %}
                                    <option value={{t}}>{{ t }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select></td>
                        </tr>
                        {% endfor %}



                    </tbody>
                </table>
                <button type="submit">Suivant</button>
                {{error}}
            </form>
</div>

{% endblock %}