{% extends "asf/base.html" %} 
{% block title %}Preview{% endblock %}

{% block content %}

<div id="asf-preview">
    <h2>Aperçu de l'import</h2>
    {% if type_errors %}
        <div class="helptext">Les éléments écrits en rouge indiquent que la valeur n'a pas le type attendu. Le cas échéant, il faut corriger le fichier et recommencer l'opération. </div>
    {% endif %}
    {% if geom_errors %}
        <div class="helptext">Les éléments soulignés en rouge sont des lieux non référencés dans notre base de donnée. Associez les noms donnés à un nom référencé grâce aux menus déroulant sous le tableau. </div>
    {% endif %}

{% if geom_errors %}
    <form id="replace"
        action="{% url 'asf-post-alias' %}"
        enctype="multipart/form-data"
        method="post"
    >
        {% csrf_token %}
        <input id="project" name="project" type="hidden" value="{{project_id}}" />
        {% for name in geom_errors %}
        <input id="selects" name="selects" type="hidden" value="{{name}}" />
        {% endfor %} {% for name in geom_errors %}
        <div>
        <span>{{name}}: </span>
        <select id="replaces" name="replaces">
            {% for ref in references %}
            <option value="{{ref}}">{{ref}}</option>
            {% endfor %}
        </select>
        </div>
        {% endfor %}

        <button type="submit">Save</button>
    </form>
{% else %}
    <form
        action="{% url 'asf-save-rows' %}"
        enctype="multipart/form-data"
        method="post"
    >
        {% csrf_token %}
        <input id="project" name="project" type="hidden" value="{{project_id}}" />

        {% if type_errors %}
            <!-- <button disabled>Save</button> -->
            <a href="{% url 'asf-step-upload' %}">Retour à l'import de fichier</a>
        {% else %}
            <div>Une couche de synthèse va être créée.</div>
            <div>Si vous souhaitez également créer des couches thématiques, sélectionnez les colonnes souhaitées</div>
            {% for c in columns %}
                <label class="checkbox">
                    <input id="columns" name="columns" type="checkbox" value={{c}}>
                    {{c}}
                    <span class="checkmark"></span>
                </label>
            {% endfor %}
            
            <button type="submit">Enregistrer</button>
        {% endif %}
    </form>
{% endif %}

<table>
    <tbody>
    <tr>
        {% for c in columns %}
        <th>{{c}}</th>
        {% endfor %}
    </tr>
    {% for row in data %}
    <tr>
        {% for cel in row %}
        <td class="{{cel.0.1}}">{{cel.0.0}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}
