{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %}The ExPEERience Map{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static  "asf/style/main.css" %}'>
    {% block headers %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>